<div>
  <h1>Employee Salary Tracker</h1>
  {{ec.newEmployee}}
  <div id="entryForm">
    <form id="employeeForm" ng-submit="ec.addEmployee()">
      <label for="empFirstName">First Name: </label>
      <input type="text" id="empFirstName" name="empFirstName" ng-model="ec.newEmployee.first_name"/>

      <label for="empLastName">Last Name: </label>
      <input type="text" id="empLastName" name="empLastName" ng-model="ec.newEmployee.last_name"/>

      <label for="empIDNumber">ID Number: </label>
      <input type="text" id="empIDNumber" name="empIDNumber" ng-model="ec.newEmployee.employee_id_number"/>

      <label for="empJobTitle">Job Title: </label>
      <input type="text" id="empJobTitle" name="empJobTitle" ng-model="ec.newEmployee.job_title" />

      <label for="empSalary">Salary: </label>
      <input type="number" id="empSalary" name="empSalary" ng-model="ec.newEmployee.annual_salary"/>

      <input type="submit" value="Submit Employee" />
    </form>
  </div>

  <div id="salaryTotal" ng-class="{'overbudget': ec.overbudget}">
    <p>Current Budget: {{ec.currentBudget | currency}}</p>
    <span id="salaryheading" >Monthly Salary Total:</span><span id="salaryAmount">{{ec.salaryTotal | currency}}</span></div>

  <div id="employees">
    <div ng-repeat="employee in ec.empArray" ng-class="{'active':employee.active}">
      <p>{{employee.first_name}} {{employee.last_name}}</p>
      <p>{{employee.employee_id_number}}</p>
      <p>{{employee.job_title}}</p>
      <p>{{employee.annual_salary | currency}}</p>
      <p>Active: <button ng-click="ec.toggleActiveEmployee(employee.id)">{{employee.active}}</button></p>
    </div>
  </div>

</div>
